<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FriendService.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1406</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1424</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2069</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2071</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2089</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2120</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2141</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2182</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2191</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2223</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2289</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2302</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2323</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2416</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2420</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2580</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2625</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2646</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2678</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2700</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2719</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2729</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2903</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2905</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2938</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3024</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3046</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3338</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3503</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3580</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
